<section class="sample-app-content">

  <div class="container">
    <div class="row">

      <div class="col-6 offset-3">
        <h3 class="pb-2 pt-2"> Basic Task</h3>
        <form #myForm="ngForm">
          <p>
            <label>First Name:</label>
            <input class="form-control" [(ngModel)]="fname" type="text" name="fname" required>
          </p>
          <p>
            <label>Last Name:</label>
            <input class="form-control" [(ngModel)]="lname" type="text" name="lname" required>
          </p>
          <p>
            <label>Email:</label>
            <input class="form-control" [(ngModel)]="email" type="email" name="email" required>
          </p>
          <div class="row ">
            <div class="col-sm-2">
              <button class="btn btn-primary" tyle="margin-right: 10px;" [disabled]="!this.status" type="submit" (click)="insertUser()">ADD</button>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-warning" type="submit" [disabled]="this.status" (click)="editUser()">EDIT</button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
    <script src="extensions/editable/bootstrap-table-editable.js"></script>
    <h1 class="display-6"> User Details</h1>
    <table class="table table-hover table-responsive-lg">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userData.data">
          <td>{{data.id}}</td>
          <td>{{data.fname}}</td>
          <td>{{data.lname}}</td>
          <td>{{data.email}}</td>
          <td>
            <button mat-mini-fab style="margin-right: 10px;" id="{{ data.id }}" (click)="editUserRetrieve(data)" color="black" >
              <mat-icon >edit</mat-icon>
            </button>
            <button mat-mini-fab id="{{ data.id }}" (click)="deleteUser(data.id)" color="warn" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>            
          </td>
        </tr>
      </tbody>
    </table>

  
  </div>

</section>